body {
  margin: 0;
  overflow: hidden;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #92ccdc; /* Change background color for dark mode */
  color: #202020; /* Change text color for dark mode */
}

.left {
  padding: 10px;
  text-align: left;
  font-family: "Inter", Courier;
  font-size: medium;
  
}

.right {
  padding: 10px;
  text-align: left;
  font-family: "Inter", Courier;
  font-weight: 300;
  
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    grid-gap: 0px;
    overflow-y: hidden;
    height: auto; /* Reset height */
  }

  .linkedin-button, .github-button {
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    z-index: 1000;
  }

  /* Container for the buttons */
  .button-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .left {
    grid-column: 1;
    grid-row: 1; /* Align left box to the first row */
  }

  .right {
    grid-column: 2;
    grid-row: 1; /* Align right box to the first row */
    overflow-y: scroll;
    max-height: 100vh;
  }
  
}

@media only screen and (max-width: 767px) {
  .grid-container {
    overflow-y: scroll; /* Enable scrolling on mobile */
  }
  .navigation{
    display: none;
  }

  .linkedin-button, .github-button {
    color: white;
    padding: 10px;
    margin:10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    z-index: 1000;
  }

  /* Adjust the position of the button container */
  .button-container {
    margin-top: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
  }
}

.glass-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin: auto; /* Center the card horizontally */
  max-width: calc(80%); /* Adjust the max-width to fit within the grid box */
}

.glass-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.glass-card h3 {
  margin-top: 0;
}

.glass-card p {
  margin-bottom: 0;
}

.mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.mode-toggle i {
  font-size: 24px;
  margin-left: 10px;
}

.dark-mode {
  background-color: #3b4963; /* Change background color for dark mode */
  color: #fff; /* Change text color for dark mode */
}

/* General styles for the buttons */


.linkedin-button {
  background-color: #0077b5; /* LinkedIn color */
}

.github-button {
  background-color: #333; /* GitHub color */
}

.linkedin-button i, .github-button i {
  font-size: 20px;
}

.navigation{
  margin-top: 35%;
}

.nav-items{
  padding: 5px;
  list-style-type: none;
}



/* @media only screen and (max-width: 767px) {
  .button-container {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
  }
} */
